.ice-about-row {
    background: linear-gradient(180deg, #f5f9ff 60%, #fff 65%);
    padding: 80px 0 0;
}

.ice-about-col {
  grid-template-columns: 1fr 550px;
  color: #001c43;
  gap: 50px;
  display: grid;
  align-items: flex-end;
}

.ice-about-img img {
  width: 100%;
}

.ice-about-title {
  color: var(--Dark-Blue, #4194e3);
  font-family: Poppins;
  font-size: 48px;
  font-style: normal;
  font-weight: 700;
  line-height: 70px;
  /* 145.833% */
  text-transform: capitalize;
  text-align: left;
}

.ice-about-subHeading {
  color: #001c43;
  font-family: Poppins;
  font-size: 32px;
  font-style: normal;
  font-weight: 600;
  line-height: 42px;
  opacity: 0.8;
  margin: 0 0 20px;
}

.ice-about-desc {
  margin-bottom: 50px;
}

.ice-about-desc p {
  color: #001c43;
  font-family: Poppins;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  opacity: 0.8;
  line-height: 30px;
  max-width: 930px;
}
@media (max-width: 1440px) {
  .ice-about-desc p {
    font-size: 14px;
    line-height: 22px;
  }
  .ice-about-subHeading {
    font-size: 28px;
    line-height: 34px;
    margin: 0 0 15px;
  }
}
@media (max-width: 1200px) {
  .ice-about-col {
    grid-template-columns: 1fr 400px;
    gap: 30px;
  }
  .ice-about-subHeading {
    font-size: 26px;
    line-height: 120%;
  }
  .ice-about-title {
    font-size: 36px;
    line-height: 150%;
  }
}
@media (max-width: 980px) {
  .ice-about-title {
    font-size: 30px;
    line-height: 32px;
    margin-bottom: 10px;
  }

  .ice-about-desc p {
    line-height:24px;
  }

  .ice-about-subHeading {
    font-size: 20px;
    line-height: 25px;
    margin-bottom: 10px;
  }
  .ice-about-desc {
    font-size: 16px;
    line-height: 24px;
    margin-bottom: 20px;
  }

  .ice-about-col {
    grid-template-columns: 1fr;
    gap: 20px;
    place-items: center;
  }

  .ice-about-row {
    padding: 40px 0 0 0;
  }
}
