.ice-card {
  text-align: center;
  background: #FFFFFF;
  padding: 50px 30px;
  border-radius: 10px;
  position: relative;
}

.ice-card img {
  width: 150px;
  margin: auto;
}

.ice-cards .ice-card {
  box-shadow: 1px 6px 10px 10px #75869614;
}
