.ew-featured-product-single-tab {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 70px;
}

.ew-featured-product-image img {
  margin: auto;
}

.ew-featured-product-image {
  border-radius: 10px;
  border: 1px solid #001C43;
  padding: 50px;
}

.ew-featured-product-row {
  padding: 60px 0px;
}

.ew-product-content-review {
  display: flex;
  align-items: center;
  gap: 10px;
}

.ew-product-content-review svg {
  width: 150px;
}

.ew-product-content-review span {
  color: #003D6D;
  font-family: Poppins;
  font-size: 18px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  /* 318.182% */
  text-transform: capitalize;
}

.ew-product-content-title {
  color: #001C43;
  font-family: Poppins;
  font-size: 62px;
  font-style: normal;
  font-weight: 700;
  line-height: 78px;
  /* 125.806% */
  text-transform: capitalize;
  margin-bottom: 20px;
}

.ew-product-content-tags ul {
  list-style: none;
  padding: 0;
}

.ew-product-content-tags li {
  color: #001C43;
  text-align: center;
  font-family: Poppins;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: 20px;
  /* 100% */
  text-transform: capitalize;
  display: inline-block;
  border-radius: 10px;
  background: #B7EFFF;
  padding: 10px 15px;
}

.ew-product-content-price span {
  color: #001C43;
  font-family: Poppins;
  font-size: 36px;
  font-style: normal;
  font-weight: 700;
  line-height: 70px;
  /* 194.444% */
  text-transform: capitalize;
}

.ew-product-content-price s {
  color: #708999;
  font-family: Poppins;
  font-size: 36px;
  font-style: normal;
  font-weight: 400;
  line-height: 70px;
  text-transform: capitalize;
}

.ew-product-content-price {
  display: flex;
  gap: 10px;
}

.ew-product-content-description {
  color: #001C43;
  font-family: Poppins;
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: 36px;
  /* 150% */
  text-transform: lowercase;
}

.ew-product-content-radios {
  margin-top: 30px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
}

.ew-product-content-radio-single input:checked+label {
  background: #B7EFFF;
  opacity: 1;
}

.ew-product-content-radio-single input {
  display: none;
}

.ew-product-content-radio-single label {
  cursor: pointer;
  border-radius: 10px;
  border: 2px solid #001C43;
  padding: 17px;
  opacity: 0.5;
}

.ew-product-radio-title {
  color: #001C43;
  font-family: Poppins;
  font-size: 32px;
  font-style: normal;
  font-weight: 600;
  line-height: 40px;
  /* 125% */
  text-transform: capitalize;
}

.ew-product-radio-price {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 10px;
}

.ew-product-radio-price span:first-of-type {
  color: #001C43;
  font-family: Poppins;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-decoration: line-through;
  text-transform: capitalize;
}

.ew-product-radio-price span:last-of-type {
  color: #001C43;
  font-family: Poppins;
  font-size: 24px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  text-transform: capitalize;
}

.ew-product-content-color-radios {
  padding: 30px 0px;
  display: flex;
  align-items: center;
  gap: 100px;
}

.ew-product-content-color-radios>label {
  color: #001C43;
  font-family: Poppins;
  font-size: 26px;
  font-style: normal;
  font-weight: 600;
  line-height: 70px;
  /* 269.231% */
  text-transform: capitalize;
}

.ew-product-content-inner .primary-btn {
  color: #FFF;
  text-align: center;
  font-family: Poppins;
  font-size: 28px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  text-transform: uppercase;
  min-width: 347px;
}

.ew-product-content-color-radio {
  display: flex;
  align-items: center;
  gap: 30px;
}

.ew-product-content-color-radio-single-blue label {
  color: var(--Dark-Blue, #4194E3);
}

.ew-product-content-color-radio-single-black label {
  fill: #0F0F10;
  opacity: 0.5;
}

.ew-product-content-color-radio-single-blue label::before {
  background: #4194E3;
  outline: 1px solid #4194E3;
}

.ew-product-content-color-radio-single-black label::before {
  background: #000;
  outline: 1px solid #000;
}

.ew-product-content-color-radio-single label::before {
  content: '';
  border-radius: 50%;
  outline-offset: 5px;
  display: inline-block;
  width: 30px;
  height: 30px;
}

.ew-product-content-color-radio-single label {
  position: relative;
  margin: 0;
  font-family: Poppins;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 70px;
  /* 437.5% */
  text-transform: capitalize;
  display: flex;
  align-items: center;
  gap: 20px;
}

.ew-product-content-inner .primary-btn {
  color: #FFF;
  text-align: center;
  font-family: Poppins;
  font-size: 28px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  text-transform: uppercase;
  min-width: 347px;
}

.ew-product-content-color-radio-single-blue {
  color: var(--Dark-Blue, #4194E3);
}

.ew-product-content-color-radio-single-black {
  color: #0F0F10;
}

.ew-product-content-color-radio-single input {
  display: none;
}

.ew-product-content-color-radio-single {
  display: flex;
  align-items: center;
  gap: 10px;

  font-family: Poppins;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-transform: capitalize;
}

@media(max-width:767px) {
  .ew-featured-product-single-tab {
    grid-template-columns: repeat(1, 1fr);
    gap: 30px;
  }

  .ew-product-content-radios {
    grid-template-columns: repeat(1, 1fr);
  }

  .ew-product-content-title {
    font-size: 26px;
  }

  .ew-product-content-review svg {
    width: 100px;
  }

  .ew-product-content-review span {
    font-size: 14px;
  }

  .ew-product-content-tags li {
    font-size: 14px;
  }

  .ew-product-content-price span,
  .ew-product-content-price s {
    font-size: 18px;
    line-height: normal;
  }

  .ew-product-content-description {
    font-size: 14px;
    line-height: normal;
    margin-top: 20px;
  }

  .ew-product-radio-title {
    font-size: 18px;
  }

  .ew-product-content-color-radios>label {
    font-size: 16px;
    line-height: normal;
    margin-right: 0;
  }

  .ew-product-content-color-radios {
    gap: 20px;
    flex-direction: column;
  }

  .ew-product-content-color-radio-single label {
    line-height: normal;
  }
}