.ice-banner-img video {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.ice-banner-row {
  position: relative;
}

.ice-banner-content {
  position: absolute;
  width: 100%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -45%);
  text-align: center;
  color: #fff;
  padding: 20px;
}


.ice-banner-img::before {
  opacity: 0.7;
  content: "";
  background: #002d45;
  mix-blend-mode: multiply;
  width: 100%;
  height: 100%;
  position: absolute;
}

.ice-banner-subHEading {
  font-weight: 700;
  font-size: 40px;
}

.ice-banner-rating {
  align-items: center;
  display: flex;
  justify-content: center;
  gap: 20px;
}

.ice-banner-rating img {
  width: 212px;
}

.ice-banner-rating-txt {
  font-weight: 600;
  font-size: 22px;
  line-height: 70px;
}

.ice-banner-heading {
  max-width: 912px;
  margin: 0 auto;
  color: #FFF;
  text-align: center;
  font-family: Poppins;
  font-size: 86px;
  font-style: normal;
  font-weight: 700;
  line-height: 108px;
  text-transform: capitalize;
}

.ice-banner-desc {
  max-width: 699px;
  margin: 27px auto 0px auto;
  color: #FFF;
  font-family: Poppins;
  font-size: 22px;
  font-style: normal;
  font-weight: 400;
  line-height: 42px;
}

.ice-banner-btn {
  margin-top: 52px;
  font-size: 26px;
}

.ice-banner-img {
  height: 100%;
}

.ice-banner-img .ew-desktop-hide,
.ice-banner-img .ew-mobile-hide {
  height: 100%;
}

@media (max-width: 1200px) {
  .ice-banner-heading {
    font-size: 62px;
    line-height: 150%;
  }
  .ice-banner-img video {
    height: 900px;
  }
}

@media (max-width: 980px) {
  .ice-banner-img video {
    height: 100%;
  }

  .ice-banner-heading {
    font-size: 32px;
    line-height: normal;
    margin-top: 20px;
  }

  .ice-banner-btn {
    margin-top: 26px;
  }

  .ice-banner-desc {
    margin: 16px auto 0px auto;
    font-size: 16px;
    line-height: normal;
  }

  .ice-banner-row {
    height: 95vh;
  }

  .ice-banner-subHEading {
    font-size: 20px;
  }

  .ice-banner-rating {
    gap: 0;
    flex-direction: column;
  }

  .ice-banner-rating img {
    width: 135px;
  }

  .ice-banner-rating-txt {
    font-size: 14px;
    line-height: 24px;
  }

  .ice-banner-img img {
    height: 70vh;
    object-fit: cover;
  }
}