.ew-3-section-wrap {
  background-image: url(https://cdn.shopify.com/s/files/1/0254/3170/3629/files/Background.png?v=1741477895);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
}

.ice-image-info-col {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 28rem;
  position: relative;
}

.ice-image-info-wrapper {
  text-align: center;
  width: 90%;
  max-width: 600px;
}

.beanie {
  width: 700px;
}

.ice-icon-inner-wrap {
  width: 150px;
  height: 150px;
  background-color: #fff;
  border-radius: 100%;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 39px;
}

.ice-icon {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.ice-icon span {
  color: #003D6D;
  text-align: center;
  font-family: Poppins;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: 40px;
  /* 200% */
  letter-spacing: 1px;
  text-transform: uppercase;
}

.ice-image-info-wrapper img {
  margin: auto;
}

.ice-icon-3 {
  top: 5.56vh;
  right: 0;
  left: 0;
}

.ice-icon-6 {
  right: 9.9vw;
  bottom: 26.96vh;
}

.ice-icon-0 {
  left: 9.9vw;
  bottom: 26.96vh;
}

.ice-icon-1 {
  left: 16.67vw;
  top: 32.41vh;
}

.ice-icon-5 {
  right: 16.67vw;
  top: 32.41vh;
}

.ice-icon-4 {
  right: 25.52vw;
  top: 13.89vh;
}

.ice-icon-2 {
  left: 25.52vw;
  top: 13.89vh;
}


@media(max-width:1650px) {

}

@media(min-width:1200px) {
  .ice-image-info-col {
    margin-bottom: 60px;
  }
}

@media(max-width: 980px) {

  .ice-image-info-col {
    padding-top: 0rem;
    min-height: 500px;
  }

  .ice-image-info-wrapper {
    width: 85%;
  }

  .beanie {
    width: 200px;
  }

  .ice-icon img {
    width: 60px;
    padding: 10px;
  }

  .ice-icon span {
    font-size: 12px;
    line-height: normal;
    margin-top: 10px;
  }


  .ice-icon-inner-wrap {
    width: 70px;
    height: 70px;
  }

  .ew-3-section-wrap {
    background-size: contain !important;
  }

}