.ew-3-section-wrap {
  background-image: url(https://cdn.shopify.com/s/files/1/0254/3170/3629/files/Background_1_-min.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
}
.ice-image-info-row {
  margin-bottom: 170px;
}
.ice-image-info-col {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 15rem 0 5rem 0;
  position: relative;
}

.ice-image-info-wrapper {
  text-align: center;
  width: 90%;
  max-width: 600px;
}

.beanie {
  width: 700px;
}

.ice-icon-inner-wrap {
  width: 150px;
  height: 150px;
  background-color: #fff;
  border-radius: 100%;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  display: flex;
  align-items: center;
  justify-content: center;
}

.ice-icon-inner-wrap img {
  width: 85px;
}
.ice-icon-0 {
  bottom: -7%;
  left: 25%;
}
.ice-icon-1 {
  bottom: 17%;
  left: 15%;
}
.ice-icon-2 {
  bottom: 44%;
  left: 16%;
}
.ice-icon-3 {
  top: 10%;
  left: 25%;
}
.ice-icon-4 {
  top: 10%;
  right: 25%;
}
.ice-icon-5 {
  bottom: 44%;
  right: 16%;
}
.ice-icon-6 {
  bottom: 17%;
  right: 15%;
}
.ice-icon-7 {
  bottom: -7%;
  right: 25%;
}



@media (min-width: 1300px) and (max-width: 1440px) {
  /* .ice-icon-inner-wrap {
    width: 180px;
    height: 180px;
  } */

  .ice-icon-inner-wrap img {
   width: 70px;
  }
  .ice-image-info-row {
    margin-bottom: 130px;
  }
  .ice-icon-3 {
    top: 5%;
  }
  .ice-icon-4 {
      top: 5%;
  }
  .ice-icon-2 {
      left: 14%;
  }
  .ice-icon-1 {
      left: 14%;
  }
  .ice-icon-5 {
      right: 14%;
  }
  .ice-icon-6 {
      right: 14%;
  }
}


.ice-icon {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.ice-icon span {
  color: #003d6d;
  text-align: center;
  font-family: Poppins;
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: 28px;
  letter-spacing: 0;
  text-transform: uppercase;
  margin-top: 5px;
}

.ice-image-info-wrapper img {
  margin: auto;
}

@media (min-width: 1200px) {
  .ice-image-info-col {
    margin-bottom: 60px;
  }
}


@media (max-width: 1600px) {
  .ice-image-info-col {
      margin-bottom: 30px;
  }  
}

@media (max-width: 1300px) {
  .ice-icon-2, .ice-icon-1 {
    left: 5%;
  }
  .ice-icon-5, .ice-icon-6 {
    right: 5%;
  }
  .ice-icon-4, .ice-icon-7 {
    right: 15%;
  }
  .ice-icon-3, .ice-icon-0 {
    left: 15%;
  }
}
@media (max-width: 980px) {
  .ice-image-info-col {
    min-height: 500px;
  }
  .ice-image-info-wrapper {
    width: 100%;
  }
  .beanie {
    width: 400px;
  }
  .ice-icon img {
    width: 45px;
  }
  .ice-icon span {
    font-size: 12px;
    line-height: normal;
    margin-top: 10px;
  }
  .ice-icon-inner-wrap {
    width: 70px;
    height: 70px;
  }
  .ew-3-section-wrap {
    background-size: contain !important;
  }
  .ice-icon-3, .ice-icon-4 {
    top: 15%;
  }
  .ice-icon-0, .ice-icon-7 {
    bottom: 0;
  }
  .ice-icon-1, .ice-icon-6 {
    bottom: 22%;
  }
  .ice-icon-2, .ice-icon-5 {
    bottom: 46%;
  }
  .ice-image-info-row {
    margin-bottom: 70px;
  }
}
@media (max-width: 600px) {
  .beanie {
    width: 200px;
  }
  .ice-icon img {
    width: 35px;
  }
}