.ew-product-card:not(:nth-child(3n)) {
  border-right: 1px solid #aeb5ba;
}

.ew-product-card {
  padding: 20px;
  border-bottom: 1px solid #aeb5ba;
}

.ew-product-card:hover {
  background: #c8eaff;
  transition: 0.3s;
}

.ew-product-card-featured-image img {
  height: 450px;
  object-fit: contain;
  margin-left: auto;
  margin-right: auto;
  mix-blend-mode: multiply;
}

.ew-product-card-info {
  margin-top: 24px;
  display: flex;
  flex-direction: column;
}

@media (min-width: 767px) {
  .ew-product-card-info {
    height: 230px;
  }

  .ew-product-card-inner-price .price__sale {
    flex-wrap: nowrap;
  }

  .ew-product-card-button {
    width: unset;
  }
}

.ew-product-card-title {
  color: #001c43;
  font-family: Poppins;
  font-size: 34px;
  font-style: normal;
  font-weight: 600;
  line-height: 120%;
  text-transform: capitalize;
  /* min-height: 100px; */
  margin-bottom: 10px;
}

.ew-product-card-link {
  text-decoration: none;
  height: 100%;
  display: block;
}

.ew-product-card-description {
  min-height: 80px;
}

.ew-product-card-description,
.ew-product-card-description * {
  color: #001c43;
  font-family: Poppins;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
  text-transform: capitalize;
  opacity: 0.8;
}

.ew-product-card-inner-info {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  /* gap: 50px; */
  justify-content: space-between;
  align-items: center;
  margin-top: auto;
}

.ew-product-card-inner-cart-button {
  text-align: end;
}

.ew-product-card-button:hover {
  background: #4cc3e6;
}

.ew-product-card-button {
  color: #fff;
  text-align: center;
  font-family: Poppins;
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
  line-height: 150%;
  text-transform: uppercase;
  border-radius: 10px;
  background: var(--Dark-Blue, #4194e3);
  width: 100%;
  padding: 14px;
}

.ew-product-card-inner-price .price__regular {
  display: none;
}

.ew-product-card-inner-price .price-item--regular {
  color: #708999;
  font-family: Poppins;
  font-size: 28px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-transform: capitalize;
}

.ew-product-card-inner-price .price-item--sale {
  color: #00a9e7;
  font-family: Poppins;
  font-size: 28px;
  font-style: normal;
  font-weight: 700;
  line-height: 38px;
  text-transform: capitalize;
}

.ew-product-card-inner-price .price__sale {
  display: flex;
  gap: 8px;
  align-items: center;
  justify-content: flex-start;
  flex-wrap: wrap;
}

.ew-product-card-box {
  border-radius: 10px;
  border: 1px solid #ced2d6;
}

@media (max-width: 1200px) {
  .ew-collection-details-card {
    padding: 25px;
    gap: 20px;
  }
  .ew-collection-details-card-title h5 {
    font-size: 18px;
  }
  .ew-collection-details-title-wrap h3 {
    font-size: 46px;
    line-height: 150%;
  }
  .ew-collection-details-title-wrap p {
    font-size: 20px;
    line-height: 160%;
    margin-top: 20px;
  }
  .ew-collection-details-columns {
    margin-top: 30px;
    margin-bottom: 30px;
  }
  .ew-collection-details-card-icon img {
    height: 58px;
    width: 58px;
  }
  .ew-product-card-inner-info {
    grid-template-columns: repeat(1, 1fr);
    gap: 20px;
    margin-top: 20px;
  }
}

@media (max-width: 980px) {
  .ew-product-card {
    padding: 20px;
  }

  .ew-product-card-inner-info {
    grid-template-columns: repeat(1, 1fr);
    gap: 20px;
  }

  .ew-product-card-button {
    font-size: 16px;
  }

  .ew-product-card-inner-price .price__sale {
    gap: 3px;
  }

  .ew-product-card-title {
    font-size: 22px;
  }

  .ew-product-card-description {
    min-height: inherit;
    margin: 20px 0;
  }
}
@media (max-width: 600px) {
  .ew-collection-details-title-wrap h3 {
    font-size: 32px;
    line-height: 120%;
  }
  .ew-collection-details-title-wrap p {
    font-size: 16px;
  }
}

/* .ew-product-card-info {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.ew-product-card-inner-info {
    margin-top: auto;
} */
