.ice-logos-col {
  padding: 40px 0;
  width: 100%;
}

.ice-logos-col {
  grid-template-columns: repeat(5, 1fr);
  align-items: center;
  column-gap: 120px;
  row-gap: 40px;
  display: grid;
}
.ew-img-fluid.logo__3 {
  min-width: 300px;
}
@media (max-width: 1440px) {
  .ew-img-fluid.logo__3 {
    min-width: 260px;
  } 
}
@media (max-width: 1340px) {
  .ew-img-fluid.logo__3 {
    min-width: inherit;
  } 
}
@media (max-width: 767px) {
  .ice-logos-col img {
    margin: auto;
  }

  .ice-logos-col {
    grid-template-columns: repeat(2, 1fr);
    column-gap: 60px;
    row-gap: 30px;
  }
}