.slider-wrap {
  display: flex;
  gap: 20px;
  align-items: stretch;
}

#ew-main-slider .splide__slide {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 14px;
  font-weight: bold;
  align-items: center;
  height: 100% !important;
  padding: 20px;
  background: none !important;
}

.ew-main-slider-wrap {
  width: 100%;
  border-radius: 10px;
  background: linear-gradient(180deg, #00A9E7 7.5%, #C5F2FF 71%);
}

#ew-thumbnail-slider li {
  border-radius: 10px;
  background-color: #C8EAFF !important;
}

#ew-main-slider img {
  display: block !important;
  object-fit: contain;
}

#ew-main-slider .splide__track,
#ew-main-slider {
  height: 100%;
}

.ew-main-video,
.ew-video-thumbnail {
  height: 100%;
  width: 100%;
}

.ew-main-video video,
.ew-video-thumbnail video {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

@media(max-width:980px) {
  #ew-main-slider .splide__slide {
    height: 400px !important;
  }

  #ew-main-slider img {
    width: 100%;
  }

  .slider-wrap {
    flex-direction: column-reverse;
  }
}