.slider-wrap {
  display: flex;
  gap: 20px;
  align-items: stretch;
}

.splide__slide {
  display: flex;
  justify-content: center;
  align-items: center;
  background: #ddd;
  height: 100%;
  font-size: 14px;
  font-weight: bold;
}

.ew-main-slider-wrap {
  border-radius: 10px;
  background: linear-gradient(180deg, #00A9E7 7.5%, #C5F2FF 71%);
}

#ew-main-slider .splide__slide {
  align-items: center;
  height: 100% !important;
  background: none !important;
}

#ew-thumbnail-slider li {
  border-radius: 10px;
  background-color: #C8EAFF !important;
}

#ew-main-slider img {
  display: block !important;
  object-fit: contain;
}

#ew-main-slider .splide__track,
#ew-main-slider {
  height: 100%;
}

@media(max-width:767px) {
  .slider-wrap {
    flex-direction: column-reverse;
  }
}