.ice-logos-col {
  padding: 40px 0;
  width: 100%;
}

.ice-logos-col {
  grid-template-columns: repeat(5, 1fr);
  align-items: center;
  column-gap: 120px;
  row-gap: 40px;
  display: grid;
}

@media (max-width: 767px) {
  .ice-logos-col img {
    margin: auto;
  }

  .ice-logos-col {
    grid-template-columns: repeat(2, 1fr);
    column-gap: 60px;
    row-gap: 20px;
  }
}