.quantity-selector {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-radius: 10px;
  background: #EBEBEB;
  padding: 14px 10px;
  width: 200px;
  height: 80px;
}

.quantity-btn {
  color: #001C43;
  font-family: Poppins;
  font-size: 40px;
  font-style: normal;
  font-weight: 300;
  line-height: 40px;
  /* 100% */
  text-transform: capitalize;
  background: none;
  border: none;
  cursor: pointer;
  padding: 0 8px;
  transition: color 0.2s;
}

.quantity-btn:hover {
  color: #34495e;
}

.quantity-value {
  color: #001C43;
  font-family: Poppins;
  font-size: 24px;
  font-style: normal;
  font-weight: 500;
  line-height: 40px;
  /* 166.667% */
  text-transform: capitalize;
}

.minus:disabled {
  color: #bdc3c7;
  cursor: not-allowed;
}

@media(max-width:1200px) {

  .quantity-selector {
    padding: 10px;
    width: 170px;
    height: 60px;
  }

  .quantity-btn {
    font-size: 20px;
  }

  .quantity-value {
    font-size: 20px;
  }
}

@media(max-width:990px) {
  .quantity-btn {
    font-size: 22px;
  }

  .quantity-selector {
    padding: 14px 10px;
    width: 145px;
    height: 60px;
  }

  .quantity-value {
    font-size: 17px;
    line-height: normal;
  }
}