.ice-splide-container-col {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  gap: 20px;
}

.ice-slide-content {
  display: none;
}

.ice-slide-content.active {
  display: block;
}

.ice-splide-container-col .splide__slide img {
    width: 100%;
    height: 100%;
    max-height: 450px;
    object-fit: cover;
    border-radius: 10px;
}

.ice-splide-container-col {
  box-shadow: 5px 6px 16px 12px #75869626;
  border-radius: 10px;
  padding: 50px 50px 30px 0;
  display: flex;
  gap: 65px;
}

.ice-splide-container-row {
  padding: 80px 0 40px 0;
}

.ice-splide-container-images {
  width: 50%;
  perspective: 1000px;
  position: relative;
}

.ice-splide-container-col .ice-science-review-content-wrap svg {
  margin-bottom: 40px;
}

.ice-splide-container-col .ice-science-review-desc {
  color: #001C43;
  font-family: Poppins;
  font-size: 40px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
  margin-bottom: 36px;
}

.ice-splide-container-col .science-review-name {
  color: #001C43;
  font-family: Poppins;
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: 150%;
  /* 36px */
  display: block;
}

.ice-splide-container-col .ice-slider-pagination-btn {
  margin-top: 40px;
}

.ice-splide-container-col .science-review-institute {
  color: #001C43;
  font-family: Poppins;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
}

.ice-splide-container-2 .splide__slide img {
  transition: all .2s ease-in-out;
}

.ice-splide-container-2 .splide__slide:not(.is-active) img {
  transform: scale(0.8);
}

.ice-splide-container-2 {
  padding-top: 80px;
}


.ice-splide-container-2 .ice-slider-navigation {
  display: flex;
  justify-content: flex-start;
  margin-top: 20px;
}

.ice-splide-container-2 .splide__arrow {
  border-radius: 50%;
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  font-size: 24px;
  margin: 0 10px;
  background: none;
  position: static;
  opacity: 1;
}

.ice-splide-container-2 .ice-science-review-content {
  margin-bottom: 50px;
}

@media(max-width:1200px) {
  .ice-splide-container-col .ice-science-review-desc {
    font-size: 24px;
  }

  .ice-splide-container-col .ice-science-review-content-wrap svg {
    margin-bottom: 15px;
  }

  .ice-splide-container-col .science-review-name {
    font-size: 20px;
  }

  .ice-splide-container-col .science-review-institute {
    font-size: 16px;
  }
}

@media(max-width:980px) {

  .ice-splide-container-2 .ice-slider-navigation {
    justify-content: center;
  }

  .ice-splide-container-2 .splide__slide:not(.is-active) img {
    transform: scale(1);
  }

  .ice-splide-container-col .ice-science-review-desc {
    font-size: 20px;
  }

  .ice-splide-container-col {
    padding: 30px;
    gap: 30px;
    flex-direction: column;
    align-items: center;
  }

  .ice-content-container {
    padding: 0;
  }

  .ice-science-review-content-wrap,
  .science-review-institute,
  .ice-splide-container-col .science-review-name {
    text-align: center;
    display: block;
  }

  .ice-splide-container-2 {
    padding-top: 30px;
  }
}