.ice-splide-container-col .splide__slide {
  transform: translateX(-100%) scale(0.8);
  transition: all 0.5s ease;
  position: absolute;
  cursor: pointer;
  pointer-events: auto;
}

.ice-splide-container-col .splide__slide.is-active {
  opacity: 1;
  transform: translateX(0%) scale(1);
  z-index: 2;
  cursor: default;
  pointer-events: auto;
}

.ice-splide-container-col .splide__slide img {
  width: 100%;
  height: auto;
  border-radius: 10px;
}

.ice-slider-pagination-btn .disabled {
  opacity: .3;
}

.ice-splide-container-col {
  box-shadow: 5px 6px 16px 12px #75869626;
  border-radius: 10px;
  padding: 50px 0 30px 0;
  display: flex;
  gap: 65px;
}

.ice-splide-container-col .splide__track {
  overflow: visible;
}

.ice-splide-container-row {
  padding: 80px 0 40px 0;
}

.ice-splide-container-images {
  width: 50%;
  perspective: 1000px;
  position: relative;
}

.ice-splide-container-col .splide__arrows {
  display: none;
}

.ice-splide-container-col .ice-science-review-content-wrap svg {
  margin-bottom: 40px;
}

.ice-splide-container-col .ice-science-review-desc {
  color: #001C43;
  font-family: Poppins;
  font-size: 40px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
  /* 60px */
  margin-bottom: 36px;
}

.ice-splide-container-col .science-review-name {
  color: #001C43;
  font-family: Poppins;
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: 150%;
  /* 36px */
  display: block;
}

.ice-splide-container-col .ice-slider-pagination-btn {
  margin-top: 40px;
}

.ice-splide-container-col .science-review-institute {
  color: #001C43;
  font-family: Poppins;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
}

@media (max-width: 767px) {
  .ice-splide-container-col {
    padding: 30px;
    flex-direction: column;
    gap: 30px;
  }

  .ice-splide-container-col .splide__track {
    overflow: hidden;
  }

  .ice-content-container {
    padding: 0;
  }

  .ice-splide-container-images {
    width: 100%;
    padding: 0;
  }

  .ice-splide-container-col .splide__slide.is-active {
    transform: unset;
  }

  .ice-splide-container-col .splide__slide {
    transform: unset;
    position: unset;
  }
  .ice-splide-container-col .ice-science-review-desc {
    font-size: 24px;
    margin-bottom: 20px;
  }
  .ice-splide-container-col .ice-science-review-content-wrap svg {
    margin-bottom: 10px;
  }
  .ice-splide-container-col .science-review-name {
    font-size: 20px;
  }
  .ice-splide-container-col .science-review-institute {
    font-size: 16px;
  }
  .ice-splide-container-col .splide__slide img {
    height: 400px;
    object-fit: cover;
  }
}

@media (min-width: 768px) {
  .ice-splide-container-col .splide__slide.is-active {
    width: calc(55% - 0.5rem) !important;
    padding-left: 40px;
  }

  .ice-splide-container-col .splide__slide.is-active img {
    height: 450px;
    object-fit: cover;
  }

  .ice-splide-container-col .splide__slide:not(.is-active) img {
    object-fit: cover;
    height: 400px;
  }
}