.ice-reviews-row {
  padding: 40px 0;
}

.ice-reviews-col {
  color: #001C43;
}

.ice-reviews-col {
  gap: 128px;
  display: flex;
}

.ice-reviews-content {
  gap: 10px;
  display: flex;
}

.ice-reviews-content img {
  width: auto;
}

.ice-reviews-content span {
  font-weight: 400;
  font-size: 20px;
  line-height: 36px;
}

.ice-reviews-desc-btn p {
  color: #001C43;
  font-family: Poppins;
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: 40px;
  /* 166.667% */
  opacity: 0.8;
}

.ice-reviews-heading-img>h2 {
  color: #001C43;
  font-family: Poppins;
  font-size: 56px;
  font-style: normal;
  font-weight: 700;
  line-height: 70px;
  /* 109.375% */
  text-transform: capitalize;
  text-align: left;
}

.ice-reviews-desc-btn,
.ice-reviews-heading-img {
  flex-direction: column;
  display: flex;
  gap: 36px;
}

.ice-reviews-desc-btn {
  width: 90%;
}

.ice-reviews-desc-btn a {
  max-width: 350px;
  line-height: 42px;
  font-size: 24px;
}

@media screen and (max-width: 1200px) {
  .ice-reviews-heading-img>h2 {
    font-size: 42px;
    line-height: 120%;
  }

  .ice-reviews-desc-btn p {
    font-size: 20px;
  }

  .ice-reviews-desc-btn,
  .ice-reviews-heading-img {
    gap: 20px;
  }

  .ice-reviews-col {
    gap: 68px;
  }
}

@media screen and (max-width: 980px) {
  .ice-reviews-col {
    flex-direction: column;
    gap: 30px;
  }

  .ice-reviews-content span {
    font-size: 16px;
    line-height: 25px;
  }

  .ice-reviews-content {
    align-items: center;
    flex-wrap: wrap;
  }

  .ice-reviews-desc-btn p {
    font-size: 20px;
    line-height: 150%;
  }

  .ice-reviews-desc-btn,
  .ice-reviews-heading-img {
    gap: 15px;
  }

  .ice-reviws-desc-btn {
    width: 100%;
  }


  .ice-reviews-heading-img>h2 {
    font-size: 32px;
    line-height: normal;
  }
}