* {
  font-family: "Poppins";
}

.ew-img-fluid {
  display: block;
  max-width: 100%;
}

#MainContent {
  margin-top: 100px;
}

.primary-btn:hover {
  background: #0088cc;
}

.primary-btn {
  background: #4194e3;
  border-radius: 10px;
  padding: 15px 40px;
  display: inline-block;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  color: #fff;
  text-align: center;
  font-family: Poppins;
  font-size: 32px;
  font-style: normal;
  font-weight: 500;
  line-height: 40px;
  /* 125% */
  text-transform: uppercase;
}

.primary-btn:hover {
    background-color: #4cc3e6;
}

.ew-desktop-hide {
  display: none;
}

@media (max-width: 980px) {
  #MainContent {
    margin-top: 64px;
  }

  .primary-btn {
    font-size: 18px !important;
    padding: 15px 30px;
    line-height: normal !important;
  }

  .ew-desktop-hide {
    display: block;
  }

  .ew-mobile-hide {
    display: none;
  }

  .product-grid {
    flex-direction: column;
  }

  .product-grid > .grid__item {
    width: 100% !important;
    max-width: 100% !important;
  }

  .related-products__heading {
    font-size: 32px !important;
    line-height: 120% !important;
    margin-bottom: 20px !important;
  }
}

#main-cart-items .cart-item__name {
  font-size: 28px;
}

cart-remove-button .icon-remove path {
  fill: #fff;
}

cart-remove-button .button {
  width: 3rem;
}
