.ice-accordion-row {
  padding: 90px 0;
}

.ice-accordion-col {
  grid-template-columns: repeat(2, 1fr);
  gap: 75px;
  display: grid;
  color: #001C43;
}

.ice-accordion-content-wrap img {
  width: 80px;

}

.ice-accordion-content-title {
  gap: 21px;
  display: flex;
  align-items: center;
}

.ice-accordion-title {
  color: #001C43;
  font-family: Poppins;
  font-size: 32px;
  font-style: normal;
  font-weight: 700;
  line-height: 38px;
  margin: 0;
  text-transform: capitalize;
}

.ice-accordion-icon svg {
  transform: rotate(180deg);
  width: 50px;
}

details[open] .ice-accordion-icon svg {
  transform: rotate(0deg);
}

.ice-accordion-content-desc {
  padding-bottom: 30px;
}

.ice-accordion-content-desc p {
  color: #001C43;
  font-family: Poppins;
  font-size: 22px;
  font-style: normal;
  font-weight: 400;
  line-height: 34px;
  /* 154.545% */
  text-transform: capitalize;
  opacity: 0.8;
}

.ice-accordion-content summary {
  margin-bottom: 20px;
}

.ice-accordion-content details {
  border-bottom: 1px solid #000;
  margin-bottom: 30px;
  position: relative;
}

.ice-accordion-content details:last-child {
  border-bottom: 1px solid transparent;
  margin-bottom: 0px;
}

.ice-accordion-content-wrap {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
}

.ice-accordion-heading {
  color: #001C43;
  font-family: Poppins;
  font-size: 64px;
  font-style: normal;
  font-weight: 700;
  line-height: 80px;
  /* 125% */
  text-transform: capitalize;
  text-align: left;
  margin-bottom: 80px;
}

@media (max-width: 767px) {
  .ice-accordion-col {
    grid-template-columns: 1fr;
    gap: 20px;
  }

  .ice-accordion-content-wrap img {
    width: 45px;
  }

  .ice-accordion-content-desc {
    font-size: 18px;
    line-height: 28px;
    padding-bottom: 20px;
  }

  .ice-accordion-content details {
    margin-bottom: 20px;
  }

  .ice-accordion-heading {
    margin-bottom: 20px;
    font-size: 32px;
    line-height: 42px;
  }

  .ice-accordion-icon svg {
    width: 32px;
  }

  .ice-accordion-title {
    margin: 0;
    font-size: 20px;
  }
}