* {
  font-family: "Poppins";
}

.ew-img-fluid {
  display: block;
  max-width: 100%;
}

#MainContent {
  margin-top: 100px;
}

.primary-btn:hover {
  background: #0088cc;
}

.primary-btn {
  background: #4194E3;
  border-radius: 10px;
  padding: 15px 40px;
  display: inline-block;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  color: #FFF;
  text-align: center;
  font-family: Poppins;
  font-size: 32px;
  font-style: normal;
  font-weight: 500;
  line-height: 40px;
  /* 125% */
  text-transform: uppercase;
}

.ew-desktop-hide {
  display: none;
}

@media(max-width:767px) {
  .primary-btn {
    font-size: 18px;
    padding: 15px 30px;
    line-height: normal;
  }

  .ew-desktop-hide {
    display: block;
  }

  .ew-mobile-hide {
    display: none;
  }
}