.ew-text-image-row {
  padding: 60px 0px;
}

.ew-text-image-wrap {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 100px;
  align-items: center;
}


.ew-text-image-left>p {
  color: #001C43;
  font-family: Poppins;
  font-size: 26px;
  font-style: normal;
  font-weight: 400;
  line-height: 44px;
  /* 169.231% */
  text-transform: capitalize;
  max-width: 803px;
}

.ew-text-image-left>h3 {
  color: #001C43;
  font-family: Poppins;
  font-size: 64px;
  font-style: normal;
  font-weight: 700;
  line-height: 70px;
  /* 109.375% */
  text-transform: capitalize;
  margin-bottom: 27px;
  max-width: 547px;
}

.ew-text-image-right img {
  width: 100%;
}

.ew-text-image-left-inner {
  display: flex;
  align-items: center;
  gap: 40px;
}

.ew-text-image-review p {
  color: #001C43;
  font-family: Poppins;
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
  line-height: 200%;
  text-transform: capitalize;
  margin: 0;
}

.ew-text-image-review svg {
  width: 180px;
  height: 32px;
}

.ew-text-image-left-inner {
  margin-top: 30px;
}

.ew-text-image-left-inner a {
  color: #FFF;
  text-align: center;
  font-family: Poppins;
  font-size: 32px;
  font-style: normal;
  line-height: 40px;
  /* 125% */
  text-transform: uppercase;
  padding: 20px 56px;
}

@media(max-width:980px) {
  .ew-text-image-wrap {
    grid-template-columns: repeat(1, 1fr);
    gap: 30px;
  }

  .ew-text-image-left-inner {
    flex-direction: column;
    margin: 0;
    gap: 20px;
  }

  .ew-text-image-left>h3 {
    font-size: 32px;
    line-height: 120%;
    margin-bottom: 20px;
  }

  .ew-text-image-left>p {
    font-size: 16px;
    line-height: 150%;
    margin-bottom: 20px;
  }

  .ew-text-image-row {
    padding: 30px 0;
  }
}