.related-products {
  display: block;
}

.related-products__heading {
  color: #001C43;
  text-align: center;
  font-family: Poppins;
  font-size: 48px;
  font-style: normal;
  font-weight: 700;
  line-height: 80px;
  margin-bottom: 70px;
  text-transform: capitalize;
}